* {
  box-sizing: border-box;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
}
.marcador {
  position: absolute;
  bottom: 30px;
  left: 50%;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
.globo {
  transition: 200ms;
  position: absolute;
  font-size: 30px;
}
